{% extends 'base.html' %}
{% block header %}
    <h1>{% block title %}New Host{% endblock %}</h1>
{% endblock %}
{% block content %}
    <form method="post">
        <div class="form-group">
            <label for="hostname">Host Name:</label>
            <input class="form-control" name="hostname" id="hostname" value="{{ request.form['hostname'] }}" required>
        </div>
        <div class="form-group">
            <label for="ip_addr">IP Address:</label>
            <input class="form-control" name="ip_addr" id="ip_addr" value="{{ request.form['ip_addr'] }}" aria-describedby="ip_addr_help">
            <small id="ip_addr_help" class="form-text text-muted">Leave the IP address blank and enter a valid host name (FQDN) to do a DNS lookup each time</small>
        </div>
        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="port">Port:</label>
                <input class="form-control" name="port" id="port" value="{{ request.form['port'] }}">
            </div>
        </div>
        <input type="submit" value="Save" class="btn btn-primary">
        <a href="{{ url_for('hosts.index') }}" class="btn btn-secondary">Cancel</a>
    </form>
{% endblock %}
