{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Hosts{% endblock %}</h1>
{% endblock %}

{% block content %}
    <p><a href="{{ url_for('hosts.create') }}" class="btn btn-success btn-sm">New Host</a></p>
    <table class="table">
    <thead>
    <tr>
        <th>Host Name</th>
        <th>IP Address</th>
        <th>Port</th>
        <th>Last Checked</th>
        <th></th>
        <th>Error Messages</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for host in host_list %}
        <tr>
            <td>{{ host.name }}</td>
            <td>{{ host.ipAddress }}</td>
            <td>{{ host.port }}</td>
            <td>{{ host.get_last_checked() }}</td>
            <td>{{ host.certificate_status() }}</td>
            <td>{{ host.errorMessage }}</td>
            <td><a href="{{ url_for('hosts.update', host_id=host.id) }}" class="btn btn-primary btn-sm">Update</a></td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}
