{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Edit "{{ host.name }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col offset-11">
            <form action="{{ url_for('hosts.delete', host_id=host.id) }}" method="post">
                <input class="btn btn-danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form method="post">
                <div class="form-group">
                    <label for="hostname">Host Name:</label>
                    <input class="form-control" name="hostname" id="hostname"
                           value="{{ request.form['hostname'] or host.name }}" required>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-8">
                        <label for="ip_addr">IP Address:</label>
                        <input class="form-control" name="ip_addr" id="ip_addr"
                               value="{{ request.form['ip_addr'] or host.ipAddress }}">
                    </div>
                    <div class="form-group col-md-4 ">
                        <div class="form-check pt-4">
                            {% if host.noPing %}
                                {% set checked='checked' %}
                            {% endif %}
                            <input name="no_ping" id="no_ping" type="checkbox"
                                   value="{{ request.form['no_ping'] or host.noPing }}" {{ checked|default("") }}
                                   class="form-check-input">
                            <label for="no_ping" class="form-check-label">Skip ping check</label>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                <div class="form-group col-md-2">
                    <label for="port">Port:</label>
                    <input class="form-control" name="port" id="port" value="{{ request.form['port'] or host.port }}">
                </div>
                </div>
                <input type="submit" value="Save" class="btn btn-primary">
                <a href="{{ url_for('hosts.index') }}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
{% endblock %}
