<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}{% endblock %} - AuditSSL</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    {% block pagescript %}{% endblock %}

</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="{{ url_for('index') }}">auditSSL</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsMainMenu" aria-controls="navbarsMainMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsMainMenu">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('hosts.index') }}">Hosts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('certificates.index') }}">Certificates</a>
      </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('report.certs') }}">Report</a>
        </li>
    </ul>
  </div>
</nav>

<main class="container">
    <h1>AuditSSL</h1>
    <div class="content">
        <header>
            {% block header %}{% endblock %}
        </header>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="row">
                    <div class="offset-2 col-8">
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category|default('danger') }}" role="alert">{{ message }}</div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>
</main>
</body>
</html>
