{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Status{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-6">
            <h3>SSL Certificates</h3>
            <div id="piechart"></div>

            <h3>Hosts Scanned</h3>
            <div id="barchart"></div>
        </div>
        <div class="col-4 offset-2">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Subnets Scanned</h5>
                <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                <p class="card-text">
                    {% for s, b in my_networks %}
                        {{ s }}/{{ b }}<br>
                    {% endfor %}
                </p>
              </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block pagescript %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="application/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var jsonData = $.ajax({
                url: "{{ url_for('report.cert_stats') }}",
                dataType: "json",
                async: false
            }).responseText;

            var data = new google.visualization.DataTable(jsonData);

            var options = {
                // title: 'SSL Certificates',
                is3D: true,
                width: 600, height: 400,
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart'));

            chart.draw(data, options);

            var jsonData2 = $.ajax({
                url: "{{ url_for('report.host_stats') }}",
                dataType: "json",
                async: false
            }).responseText;

            var data2 = new google.visualization.DataTable(jsonData2);

            var options2 = {
                // title: 'Hosts Scanned',
                width: 600, height: 400,
                legend: { position: 'top', maxLines: 3 },
                isStacked: true,
            };

            var chart = new google.visualization.BarChart(document.getElementById('barchart'));

            chart.draw(data2, options2);

        }
    </script>
{% endblock %}