{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}SSL Certificates{% endblock %}</h1>
{% endblock %}

{% block content %}
    <table class="table table-sm">
    <thead>
    <tr>
        <th>Common Name</th>
        <th>Issuer Name</th>
        <th>Issue Date</th>
        <th>Expire Date</th>
        <th>Serial Number</th>
    </tr>
    </thead>
    <tbody>
    {% for cert in certs %}
        <tr>
            <td><a href="{{ url_for('certificates.show', cert_id=cert.id) }}">{{ cert.commonName }}</a></td>
            <td>{{ cert.issuerName }}</td>
            <td>{{ cert.notBefore }}</td>
            <td>{{ cert.notAfter }}</td>
            <td>{{ cert.serialNumber }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}
