{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Certificate Detail{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="card {{ this_cert.color_code() }}">
        <div class="card-header">
            {{ this_cert.issuerName }}
        </div>
        <div class="card-body">
            <h4 class="card-title">{{ this_cert.commonName }}</h4>
            <p class="card-text">
                Valid Dates: {{ this_cert.notBefore.strftime("%b %d, %Y") }} to {{ this_cert.notAfter.strftime("%b %d, %Y") }}
                ({{ this_cert.days_to_expire() }} days left)
            </p>
        </div>
    </div>

    <h5 class="mt-3">Hosts Using This Certificate</h5>
    <table class="table">
    <thead>
    <tr>
        <th>Host Name</th>
        <th>IP Address</th>
    </tr>
    </thead>
    <tbody>
    {% for h in this_cert.hosts %}
    <tr>
        <td>{{ h.name }}</td>
        <td>{{ h.ipAddress }}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}
