{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Report{% endblock %}</h1>
{% endblock %}

{% block content %}
    <p>
        <a href="{{ url_for('report.certs') }}" class="btn {% if days == 0 %}btn-primary{% else %}btn-outline-primary{% endif %}">All</a>
        <a href="{{ url_for('report.certs') }}?expire=30&limit=true" class="btn {% if days == 30 %}btn-primary{% else %}btn-outline-primary{% endif %}">30 Days</a>
        <a href="{{ url_for('report.certs') }}?expire=60&limit=true" class="btn {% if days == 60 %}btn-primary{% else %}btn-outline-primary{% endif %}">60 Days</a>
        <a href="{{ url_for('report.certs') }}?expire=90" class="btn {% if days == 90 %}btn-primary{% else %}btn-outline-primary{% endif %}">90 Days</a>
    </p>
    <table class="table table-sm table-striped">
    <thead>
    <tr>
        <th rowspan="2" scope="col">Hostname</th>
        <th rowspan="2" scope="col">IP Address</th>
        <th rowspan="2" scope="col">Port</th>
        <th colspan="3" class="text-center">Certificate</th>
    </tr>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Issuer</th>
        <th scope="col">Days Left</th>
    </tr>
    </thead>
    <tbody>
    {% for host in hosts %}
        <tr>
            <td>{{ host.name }}</td>
            <td>{{ host.ipAddress }}</td>
            <td>{{ host.port }}</td>
            {% if host.certificate %}
                {% if host.certificate.days_to_expire() <= 0 %}
                    {% set warning_css = ' class="table-dark"' %}
                {% elif host.certificate.days_to_expire() > 0 and host.certificate.days_to_expire() < 30 %}
                    {% set warning_css = ' class="table-danger"' %}
                {% elif host.certificate.days_to_expire() > 0 and host.certificate.days_to_expire() < 60 %}
                    {% set warning_css = ' class="table-warning"' %}
                {% elif host.certificate.days_to_expire() > 0 and host.certificate.days_to_expire() < 90 %}
                    {% set warning_css = ' class="table-info"' %}
                {% endif %}
                <td{{ warning_css|safe }}>{{ host.certificate.commonName}}</td>
                <td{{ warning_css|safe }}>{{ host.certificate.issuerName}}</td>
                <td{{ warning_css|safe }}>{{ host.certificate.days_to_expire() }}</td>
            {% else %}
                <td colspan="2" class="text-center"></td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}
